<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.view">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter05_scroll.DrawerActivity"></activity>
        <activity android:name=".chapter06.ColorMatrixActivity"></activity>
        <activity android:name=".chapter06.ColorMatrixTwoActivity"></activity>
        <activity android:name=".chapter06.MatrixOneActivity"></activity>
        <activity android:name=".chapter06.BitmapMeshActivity"></activity>
        <activity android:name=".chapter06.PorterDuffXfermodeActivity"></activity>
        <activity android:name=".chapter06.BitmapShaderActivity"></activity>
        <activity android:name=".chapter06.SurfaceViewActivity"></activity>
        <activity android:name=".chapter07_Animation.AnimationActivity"></activity>
    </application>

</manifest>
